<h1>Welcome to Golf's Song list</h1>

<ul>
  <li>
    <%= link_to "Zeke's favorite Song", "/zeke"  %>
  </li>
  <li>
    <%= link_to("Cesar's favorite song", "/cesar") %>
  </li>
  <li>
    <%= link_to "Andre's favorite Song", "/the_docta" %>
  </li>
    <li>
    <%= link_to "Golf List", "/our_songs" %>
  </li>
</ul>